{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Elastic Cluster: {{ namespace }} {% endblock %}</h1>
    <div name="commandbar" class="content-fluid  justify-content-between align-items-center">
        <li class="list-group-item d-flex justify-content-between align-items-center">
       <a class="badge badge-success badge-pill" href="">Refresh</a> 
       <a class="badge badge-danger badge-pill" href="{{ url_for('remove_stack', namespace=namespace )}}">Remove Stack</a>
    </div>
    <div id="message_container">
        {% for message in messages %}
        <div class="alert alert-primary" >
            {{ message }}<br>
        </div>
        {% endfor %}
    </div>
    <div name="elastic_user">
        <h2>Elastic User Details</h2>
        <div class="card">
            <div class="card-header"><b>Version: </b>{{ version }}</div>
            <div class="card-header"><b>User: </b>elastic</div>
            <div class="card-header"><b>Password: </b>{{ password }}</div>
        </div>
    </div>
    <div name="services">
    <h2>Services</h2>
    <hr>
    <table class="table">
        <thead class="thead-light">
            <tr>
            <td>
                Service Name
            </td>
            <td>
                Type
            </td>
            <td>
                Service Type
            </td>
            <td>
                Internal IP
            </td>
            <td>
                External URL
            </td>
            <td>
                 Port Details
            </td>
        </tr>
        </thead>
        <tbody class="table-striped">
    {% for service in services %}
    <tr>
        <td>
        {{ service.id }}
        </td>
        <td>
            {{ service.service_type }}
        </td>
        <td>
            {{ service.type }}
        </td>
        <td>
            {{ service.internal_ip }}
        </td>
        <td>
            <a href="{{ service.url }}" target="_new">{{ service.url }}</a>
        </td>
        <td>
                {% for port in service.ports %}
                         {{ port.targetPort }}
                        {{ port }}
                {% endfor %}
            
        </td>

    </tr>
    {% endfor %}
        </tbody>
    </table>
    </div>
    <div name="pods">
        <h2>PODS</h2>
        {% for pod in pods %}
        <div class="card"> 
            <div class="card-header">
            {{ pod.state }}
            <a href="/pod/{{ pod.pod_id }}">{{ pod.id }}</a>
            </div>
                <div class="card-body">
                <table class="table">
                    <thead>
                        <td>
                            Ready
                        </td>
                        <td>
                            Start Time
                        </td>
                        <td>
                            Name
                        </td>
                        <td>
                            Status
                        </td>
                        <td>
                            Image
                        </td>
                    </thead>
                    {% for container in pod.containers %}
                    <tr>
                        <td>
                            {{ container.ready }}
                        </td>
                        <td>
                            {{ container.start_time }}
                        </td>
                        <td>
                            {{ container.name }}
                        </td>
                        <td>
                            {{ container.state }}
                        </td>
                        <td>
                            {{ container.image }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                </div>
           
    </div>
        {% endfor %}

        
    </div>
{% endblock %}